* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

header {
    background-color: lightgray;
    height: 12%;
    text-align: center;
    color: #333;
    line-height: 100px;
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

nav {
    height: 5%;
    background-color: purple;
    text-align: center;
    line-height: 50px;
}

nav ul {
    list-style: none;
    display: inline-block;
}

nav li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 0 30px;
    text-decoration: none;
    color: #fff;
}

nav ul li:hover a {
    text-decoration: underline;
}



section {
    height: 78%;
}

section h1 {
    margin: 20px 0;
    text-align: center;
}

footer {
    height: 5%;
    background-color: lightgray;
    text-align: center;
    color: #fff;
}


#tab2 {
    width: 95%;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
}
